/*! 
custom CSS styling which will override the bootstrap css
just reference the elements like you usally would and style accordingly
don't change too much though, check the bootstrap css design first for reference
 */
 

/* hide the scrolling over flows on the hom page slideshow */ 
.homePageFix {

    overflow-y: hidden;
    overflow-x: hidden;
    margin:0;
    padding:0; 

}

.eventsHomeCustom{

    width: 100%;
    height:auto;
    margin-top: 5%;


}



/* pushes the slideshow indicators up*/
.carousel-indicators{

    margin-bottom: 4%;
}

.loginFormStyle {

    margin-top:200px;

}





/* overrides btn-primary on staff button to be rgu purple theme */
#staffInputBtn{
	
	background-color: #712177;
	
}



.events-content {

    width: 100%;
    height: auto;
    margin-top: 5%;
    

}

.manageStaffSectionCustom{

    margin-top: 5%;

}

.blog-content {

    width:100%;
    height:auto;
    margin-top: 5%;

}














